@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #a5f3fc 0%, #a5f3fc 10%, #fdba74 80%, #fb923c 100%);
  background-attachment: fixed;
  color: #171717;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

